<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Gregory Gundersen is a PhD candidate at Princeton.'>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='Gregory Gundersen'>

    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>


</head>
<body>
<div class="wrap hero">
    <h1>Axel Joseph</h1>
    <div class="links">
        <a href="publications.html">Publications</a>
        <a href="about.html">About Me</a>
        <a href="blog.html">Blog</a>
    </div>
</div>
</body>
</html>






